<%if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="container">
<h1>Quests Available</h1>
<% if (@quests.any?) %>
  <% @quests.each { |quest| %>
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title activator grey-text text-darken-4"> WANTED: <i class="mdi-navigation-more-vert right"></i></span>
        <div class="each_quest">
          <ul>
            <li><%= link_to quest.name, quest, class:"green-text" %></li>
            <li>Reward: <%= quest.bounty %></li>
            <li><%= quest.link %></li>
            <li><%= quest.quantity %></li>
          </ul>
        </div>
      </div>
      <div class="card-action">
      </div>
        <div class="card-reveal" style="opacity: 0.8;">
        <span class="card-title grey-text text-darken-4"> Quest Info:<i class="mdi-navigation-close right"></i></span>
        <ul>
          <li><%= quest.language.name %></li>
          <li><img src="<%= quest.source.logo %>" class="circle" alt="<%= quest.source.name %>"></li>
          <li><%= quest.admin.email %></li>
        <hr class="green-border"
        <span class="bottom center">
        <li><%= link_to 'Show', quest %>
         <% if current_user && current_user.admin? %>
        <%= link_to 'Edit', edit_quest_path(quest), class:"waves-effect waves-light btn" %>
        <%= link_to 'Erase', quest, class:"waves-effect waves-light btn", method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
        </span>
        </ul>
      </div>
    <% } %>
    </div>
  </div>

  
<% else %>

<div class="card-panel">
<h3> No Quests yet but you can change that!</h3>
</div>
<% end %>
<br>
<%= link_to 'New Quest', new_quest_path, class:"waves-effect waves-light btn green" %>
</div>