<%if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>All Quests Available:</h1>

<% if @quests? %>
  <% @quests.each do |quest| %>
  <div class="container">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title activator grey-text text-darken-4"><i class="mdi-navigation-more-vert right"></i></span>
          <div class="each_quest">
            <ul>
              <li><%= link_to quest.name, quest %></li>
              <li><%= quest.bounty %></li>
              <li><%= quest.link %></li>
              <li><%= quest.quantity %></li>
            </ul>
          </div>
        </div>
        <div class="card-action">
          <ul>
            <li><%= quest.language.name %></li>
              <!-- <img src=""> -->
            <li><%= quest.source.logo %></li>
            <li><%= quest.admin.email %></li>
          </ul>
        </div>
          <div class="card-reveal" style="opacity: 0.5;">
          <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i></span>
          <span style="position: absolute; bottom: 0; left: 33%;">
          <%= link_to 'Show', quest %>
          <%= link_to 'Edit', edit_quest_path(quest), class:"waves-effect waves-light btn" %>
          <%= link_to 'Erase', quest, class:"waves-effect waves-light btn", method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        </div>
    <% end %>
    </div>
  </div>
</div>
  
<% else %>

<div class="card-panel">
<h3> No Quests yet but you can change that!</h3>
</div>
<% end %>
<br>
<%= link_to 'New Quest', new_quest_path %>
