<div class="container">

<% if notice %>
<div class="card-panel">
  <p id="notice"><%= notice %></p>
</div>
<% end %>
  <div class="card brown lighten-3">
    <div class="card-content">
      <ul class="collection">
        <li class="collection-item">
          <strong>Name:</strong>
          <%= @quest.name %>
        </li>

        <li class="collection-item">
          <strong>Bounty:</strong>
          <%= @quest.bounty %>
        </li>

        <li class="collection-item">
          <strong>Link:</strong>
          <%= @quest.link %>
        </li>
      </ul>
    </div>
    <div class="card-action">
      <ul class="collection">
        <li class="collection-item">
        <strong>Quantity:</strong>
        <%= @quest.quantity %>
        </li>

        <li class="collection-item">
        <strong>Language:</strong>
        <%= @quest.language.name %>
        </li>
        <li class="collection-item">
        <strong>Source:</strong>
        <%= @quest.source.name %>
        </li>

        <li class="collection-item">
        <strong>Admin:</strong>
        <%= @quest.admin.email %>
        </li>

        <li class="collection-item">
      <%= link_to 'Back', quests_path, class:"waves-effect waves-light btn orange grey-text" %><% if current_user && current_user == @quest.admin %> 
       | 
      <%= link_to 'Edit', edit_quest_path(@quest), class:"waves-effect waves-light btn" %> | 
      <%= link_to 'Erase', quest, class:"waves-effect waves-light btn deep-purple", method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
      <% else %>
      </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>