<div class="container">

<% if notice %>
<div class="card-panel">
  <p id="notice"><%= notice %></p>
</div>
<% end %>
  <div class="card brown lighten-3">
    <div class="card-content">
      <p>
        <strong>Name:</strong>
        <%= @quest.name %>
      </p>

      <p>
        <strong>Bounty:</strong>
        <%= @quest.bounty %>
      </p>

      <p>
        <strong>Link:</strong>
        <%= @quest.link %>
      </p>
    </div>
    <div class="card-action">
        
      <p>
        <strong>Quantity:</strong>
        <%= @quest.quantity %>
      </p>

      <p>
        <strong>Language:</strong>
        <%= @quest.language.name %>
      </p>

      <p>
        <strong>Source:</strong>
        <%= @quest.source.name %>
      </p>

      <p>
        <strong>Admin:</strong>
        <%= @quest.admin.email %>
      </p>
      <%= link_to 'Back', quests_path, class:"waves-effect waves-light btn orange" %><% if current_user && current_user == @quest.user %> 
       | 
      <%= link_to 'Edit', edit_quest_path(@quest), class:"waves-effect waves-light btn" %> | 
      <%= link_to 'Erase', quest, class:"waves-effect waves-light btn deep-purple", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>