<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @admin.tax_id %>
</p>

<p>
  <strong>Non profit:</strong>
  <%= @admin.non_profit %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
