<div class="GitHub">
  <% if logged_in? %>
    <span class="email">
    <% if current_user.email %>
    <%= current_user.email %>
    <% else %>
    <%= link_to "Add your email!", edit_user_path(current_user) %>
    <% end %>
    </span> | <small class="time"> last update: <%= time_ago_in_words(current_user.updated_at) %> | <%= current_user.logins %> Logins |</small>
    <div class="buttons">
    <% if current_user.has_linked_github? %>
      <%= link_to "Delete your Account", delete_oauth_path("GitHub"), class: "link_button delete", method: :delete %>
    <% else %>
      <%= link_to "Sign up through GitHub", auth_at_provider_path(provider: :github), class: "link_button" %>
    <% end %> | 
    <%= link_to "Logout", logout_path, class: "link_button logout" %> | 
    <%= link_to "All Users", users_path, class: "link_button users_path" %>
  <% else %>
    <%= link_to "Login with GitHub", auth_at_provider_path(provider: :github) %>
  <% end %>
    </div>
</div>

