<!DOCTYPE html>
<html>
<head>
  <title>Level</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>

<script>
var userParam = <%= @user_param %>;
console.log("This is userParam: "+userParam);
</script>

<% if @user && current_user %>
<script>
var signedInUserId = <%= session[:user_id] %>
console.log("This is signed in user "+signedInUserId)
</script>
<%end%>
<%= render '/shared/session_links' %>
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %>
</div>
<%end%>
<%= javascript_include_tag 'application' %>

<%= yield %>

</body>
</html>
