<!DOCTYPE html>
<html>
<head>
  <title>Level</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render '/shared/session_links' %>
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %>
</div>
<%end%>
<%= yield %>

</body>
</html>
