<% @title = "All Users" %>
<div class="container">
<h3 class="center-align">Listing Users</h3>
<% if @users %>
  <div class="flexxed-wrapper">
    <% @users.each do |user| %>
      <div class="card-panel flexxed">
        <span class="right"><%= gravatar_for(user, size: 50) %></span>
        <ul>
        <li><h4 class="truncate"><%= link_to user.name, user %></h4><small>- User since: <%= time_ago_in_words(user.created_at) %></small></li>
        <hr class="blue-border">
        <li><%= user.email %></li>
        <li><%= user.admin %></li>
        <li><%= link_to 'Show', user %> 
        <% if (current_user && user == current_user) %>
        &nbsp;<%= link_to 'Edit', edit_user_path(user) %> &nbsp;
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% elsif (current_user && current_user.admin? && user != current_user) %>
          &nbsp;<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% else %>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% else %>
<div class="card-panel">
<h3>Sorry there are no Users at this time but you can fix that!</h3>
</div>
<% end %>
<div class="row card-panel">
  <div class="col l14">
    <div class="col s14 l14 offset-l1">
      <span>Want to appear here on the Hall of Fame?</span>
    </div>
    <div class="col s14 l14 offset-l1">
      <%= link_to new_user_path, class:"btn waves-effect waves-light left cyan darken-1" do %>
      <span><i class="mdi-action-account-circle"></i> Sign up today
      </span>
      <% end %>
    </div>
  </div>
</div>
</div>