<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>


<!-- individual User -->
<script type = "text/template" id = "user-template">
  <%= link_to '{{user.username}}', '#', class: 'username' %>
  <div class="main">
	<li></li>
  </div>
</script>

<script>
_.templateSettings = {
  interpolate: /\{\{(.+?)\}\}/g
};
var signedInUserId = <%= session[:user_id] %>; // sets the current user id so Backbone Views have access to it
</script>