<p id="notice"><%= notice %></p>

<p>
  <strong>Email:
  <%= @user.email %></strong>
</p>

<% if current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>


<div id="content-area">

</div>

<!-- individual User -->
<script type="text/template" id="user-template">

  <p>Hello Event</p>
  <%= link_to '{{user.username}}', '#', class: 'username' %>
  <div class="main">
	<ul></ul>
  </div>
</script>

<script type="text/template" id="skill-template">
<div>
<span class="experience">Experience: {{skill.exp}}</span>
<span class="date">Added: {{skill.added_at}}</span>
<span class="language" style="background: {{skill.language.color}}">{{skill.language.name}}</span>
</div>

</script>

<script type="text/javascript">
_.templateSettings = {
  interpolate: /\{\{(.+?)\}\}/g
};
// sets the current user id so Backbone Views have access to it
</script>