<%= form_for(@ongoing_quest) do |f| %>
  <% if @ongoing_quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ongoing_quest.errors.count, "error") %> prohibited this ongoing_quest from being saved:</h2>

      <ul>
      <% @ongoing_quest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quest_id %><br>
    <%= f.number_field :quest_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
