<!-- Dropdown Structure -->
<ul id="profile" class="dropdown-content right">
  <% if logged_in? %>
  <li><%= link_to "Profile", current_user %></li>
  <li><%= link_to "Configure", edit_user_path(current_user) %></li>
  <li>
  <%= link_to "Log out", logout_path, method:"delete", class:"field_with_errors" %>
   </li>
  <% end %>
</ul>
<ul class="side-nav" id="mobilize">
<script>
console.log("hi");
</script>
  <li><%= link_to "Home", root_path, class:"cyan-text" %></li>
  <li> <%= link_to "Users", users_path, class:"lime-text" %></li>
  <% if logged_in? %>
    <li><a href="#" class="dropdown-button" data-activates="profile">
    Profile 
    <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
  <% else %>
  <li><%= link_to "GitHub Login", auth_at_provider_path(provider: :github), class:"purple-text" %></li>
  <% end %>
</ul>
<nav>
  <div class="nav-wrapper yellow lighten-2">
      <a href="/" class="brand-logo"><img width="45" style="margin-left: 1em;" alt="My Levl Logo" src="<%= asset_path('mylevlLOGO.png') %>"> &nbsp;MyLevl</a>
      <a href="#" data-activates="mobilize" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path, class:"cyan-text" %></li>
      <li> <%= link_to "Users", users_path, class:"green-text" %></li>
      <% if logged_in? %>
      <li><a href="#" class="dropdown-button" data-activates="profile">
        Profile 
        <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <% else %>
      <li><%= link_to "GitHub Login", auth_at_provider_path(provider: :github), class: "purple-text"%></li>
      <% end %>
    </ul>
  </div>
</nav>